/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family= Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 &family=Oswald:wght@200..700&display=swap');


/*Asteric wildcard selector to overide default styles added by browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic  project style */
    color: #3a3a3a;
    font-family: sans-serif;
}


/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}
/* Header */
header {
    text-decoration: none;
    color: inherit;
}

h1 {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #252525;
    }
    #menu   {
        font-size: 110%;
        letter-spacing: 4px;
        list-style-type: none;
    }
    #menu > li {
        margin-bottom: 1em;
    }
    .active {
        border-bottom: 1px solid #3a3a3a;
    }


/* Main content */
main {
    background-color: lightblue;
    /*make main element take up any surplus to push footer Doe*/
    flex: 1 0 auto;
}
/* Footer */
footer {
    background-color: orange;
}